* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "ubuntu", sans-serif;
    width: 100%;
    margin: 0 auto;
}

body p {
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.2em;
}

body h1 {
    font-weight: 700;
    font-size: 4em;
    line-height: 1em;
}

body h2 {
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.2em;
}

body h3 {
    margin: 0.5em 0 0.7em 0;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2em;
}

#header{
  box-shadow: none;
}

header{
  border: 1px solid rgb(255, 255, 255);
  margin: 0 0 3em 0;
}

.logo {
  font-family: 'STIX Two Text', serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 90px;
  color: #000000;

}

.mdl-layout__header-row{
  background-color: #fff;
}

.logo2{
  font-family: 'STIX Two Text', serif;
}


.mdl-navigation__link{
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  line-height: 1.3em;
}

#link1, #link2, #link3, #link4, #link5{
  color: #000000;
  font-size: 1.5em;
}

#drawer-link a, #drawer span{
  color: #000000;
  font-size: 1.3em;
}


#drawer span{
  font-family: 'STIX Two Text', serif;
  font-size: 1.7em;
  font-weight: 700;
}

.mdl-layout__header .mdl-layout__drawer-button i {
  color: #000;
  background-color: #fff;
  height:100%;
  width: 100%;
  font-size: 1.5em;
}

.mdl-layout__content{
  position: relative;
  margin: 4em 0 0 0;
}

.slogan {
    margin: 2em 0 0 0;
}

button {
    border: none;
    padding: 1.2em 5em;
    margin: 2em 0 4em 0;
    background-color: #f61f26;
}

.s_up{
  border-radius: 1em;
}

button a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1em;
}

button:hover {
    background-color: #ff6469;
}

button a:hover{
  color: white;
  text-decoration: none;
}

.about-container {
    padding: 6em 0;
}

.title {
    grid-area: 1/1/2/3;
    text-align: center;
    margin: 1em 0;
}


.box1,
.box2,
.box3,
.box4 {
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    position: relative;
    height: 20em;
}


.box1 {
    background-color: #FFF5F5;
}

.box2 {
    background-color: #F5FFF5;
}

.box3 {
    background-color: #FFFEF5;
}

.box4 {
    background-color: #F5FCFF;
}

.box-img {
    height: 3em;
}

.what-to-expect {
    justify-content: space-around;
    margin: 15em auto 0;
    background: linear-gradient(to right, #ED1C24, #F36F56);
    height: 30em;
    width: 100%;
    position: relative;
}

.wte-text {
    padding-top: 5em;
    margin-bottom: 1em;
    color: #ffffff;
    text-align: center;
    /*height: 35vh;*/
}


.flex {
    background-color: white;
    border-radius: 10px;
    box-shadow: -4px 4px #FFF5F5;
    width: 90%;
}

#flex1,
#flex3 {
    height: 20em;
    /*position: relative;*/
    padding: 1em;
    margin: 1em auto 0;
}

#flex2 {
    height: 24em;
    /*position: relative;*/
    padding: 1em;
    margin: 1em auto 0;
}

.testimonial-container, #testimonial {
    margin: 15em auto 0;
    padding: 2em;
    position: relative;
    width: 100%
}

.text {
    text-align: center;
}


.client {
    background: linear-gradient(to right, #ED1C24, #F36F56);
    width: 90%;
    border-radius: 10px;
    padding: 2em;
    margin: .5em auto;
    color: white;
}

.contact-container {
    display: grid;
    height: 80vh;
    width: 100%;
    background-color: #FFF5F5;
    margin-top: 3em;
}

.contact {
    margin: 5em 0 0 3em;
}

.map-container {
    padding: 0 1em;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2em;
}

.footer-logo {
    width: 40%;
    padding-left: 1em;
}

.footer-nav {
    width: 60%;
}

.footer-nav ol {
    display: flex;
    justify-content: space-between;
}

.footer-nav ol li {
    list-style-type: none;
    margin-top: 1em;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
}

.footer-nav ol li a {
    color: black;
    text-decoration: none;
}


.footer-nav ol li a:hover {
    color: #ED1C24;
}

.footer-nav p {
    text-align: right;
    margin: 2em 3.7em 0 0;
    font-size: 1.2em;
    line-height: 1em;
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media only screen and (max-width: 600px) {
    .testimonial-container {
        margin: 35em 0 0 0;
    }

    .contact-container {
        margin: 10em 0 3em 0;
    }

    .home-img{
      margin: 6em 0 0 0;
    }

    .testimonial-container, #testimonial {
        margin: 55em auto 0;
        padding: 2em;
        position: relative;
        width: 100%
    }

    .email{
      display: flex;
      justify-content: space-between;
      padding-bottom: 4em;
    }

    .mail{
      width: 50%;
    }

    .location{
      width: 50%;
    }
}

/*DESKTOP*/

@media screen and (min-width: 700px) {
    
    .homepage-image {
        padding-top: 3.5em;
    }

    .about-img {
        margin: 2em 0 0 7em;
    }

    .home-img {
        margin: 4em 0 0 0;
    }

    .services-container {
        display: grid;
        margin-top: 3em;
        grid-gap: 0.5em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        width: 95%;
        height: 90vh;
        margin: auto;
        padding-top: 4em;
    }


    .box1,
    .box2,
    .box3,
    .box4 {
        text-align: justify;
        padding: 1em;
        display: flex;
    }

    .grid-item img {
        padding: 0 2em;
    }

    .box1 {
        grid-area: 2/1/4/2;
        background-color: #FFF5F5;
    }

    .box2 {
        grid-area: 2/2/4/3;
        background-color: #F5FFF5;
    }

    .box3 {
        grid-area: 4/1/6/2;
        background-color: #FFFEF5;
    }

    .box4 {
        grid-area: 4/2/6/3;
        background-color: #F5FCFF;
    }


    .wte-flex {
        display: flex;
        justify-content: space-evenly;
        text-align: justify;
        z-index: 1;
    }

    .flex {
        width: 30%;
    }

    .client {
        width: 32%;
    }

    .map-container {
        width: 100%;
        display: flex;
    }

    .map {
        width: 60%;
        padding-bottom: 2em;
        margin-left: 3em;
    }
    
    .email {
        width: 40%;
        padding: 4em 4em 0 3em;
        color: #ED1C24;
        text-align: justify;
    }

    .contact-container {
        margin: 15em 0 0 0;
    }

    .client-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
}
